<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Cutomer Data</title>  
     {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Cutomer ID</th>  
        <th>Coustomer Name</th>  
        <th>Cutomer Address</th>  
        <th>Cutomer service</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for customer in customers %}  
    <tr>  
        <td>{{ customer.customer_id }}</td>  
        <td>{{ customer.customer_name }}</td>  
        <td>{{ customer.customer_address }}</td>  
        <td>{{ customer.service_id }}</td>  
        <td>  
            <a href="/edit/{{ customer.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ customer.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/cust" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  